* {
    margin: 0;
    padding: 0;

}


@font-face {
    font-family: bebas-neue;
    src: url(font/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: raleway-bold;
    src: url(font/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: raleway-regular;
    src: url(font/Raleway/Raleway-Regular.ttf);
}



@keyframes slideright {
    0% {
        position: relative;
        right: 600px;
        opacity: 0;
    }

    50% {}

    100% {
        position: relative;
        right: 0;
        opacity: 1;

    }
}

@keyframes slidedown {
    0% {
        width: 100%;
        position: relative;
        top: 600px;
        opacity: 0;
    }

    100% {
        position: relative;
        top: 0;
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}

@keyframes zoom-out {
    0% {
        scale: 0;
    }

    100% {
        scale: (1.2);
    }
}




body {
    background-image: url(img/floor-tile.png);
}


/* Header  */


.header {
    width: 100%;
    height: 40px;
    background-color: #1b262c;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.header .menu {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    animation: slideright 1s forwards;
    padding: 10px;
    box-sizing: border-box;
}

.header .menu ul {
    display: flex;

}

.header .menu ul li {
    list-style-type: none;
}

.header .menu ul li a {
    margin-right: 20px;
    padding: 3px 7px 3px 7px;
    text-decoration: none;
    color: #c9d6df;
    font-size: 12px;
    font-family: poppins-regular;
    transition: 200ms;
    -webkit-transition: 200ms;
}

.header .menu ul li a:hover {
    color: white;
    transform: scale(0.5);
}

.header .tombol-login {
    display: block;
    float: right;
    position: relative;
    bottom: 30px;
    margin-right: 40px;
}

.header .tombol-login ul li {
    list-style-type: none;
}

.header .tombol-login ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #c9d6df;
    border: 1px solid white;
    border-radius: 10px;
    padding: 3px 8px;
    font-family: poppins-regular;
    font-size: 12px;
    transition: 300ms;
}

.header .tombol-login ul li a:hover {
    list-style-type: none;
    background-color: #06ac00;
    border: 1px solid black;
    color: black;
}

.cover {
    width: auto;
    height: 640px;
    margin: 48px 10px;
    background-image: url(img/bagbag.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade 2s forwards;
}



.logo {
    text-align: center;
    margin: auto;
    padding-top: 220px;
    font-size: 40px;
    animation: fade 2s forwards;
    color: #ffe2e2;
    text-shadow: #40514e 2px 2px 1px;
    font-family: bebas-neue;
    letter-spacing: 4px;
    /* background-image: url(img/bagbag.jpg); */
    background-size: 960px;
}

.slogan {
    text-align: center;
    color: white;
    font-family: poppins-regular;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.cari {
    width: 300px;
    height: 28px;
    margin-top: 10px;
    border-radius: 15px;
    /* border: 1px solid black; */
    color: black;
    font-family: Arial;
}

.button-bar {
    width: 35px;
    height: 28px;
    /* border: 1px solid black; */
    border-radius: 15px;
    background-image: url(img/searchbutton.png);
    background-size: 20px 18px;
    background-repeat: no-repeat;
    background-position: center;

}

:-moz-placeholder {
    font-family: poppins-regular;
    margin-left: 10px;
}


.clear {
    clear: both;
}


/* Container 1 */


.container {
    width: 960px;
    margin: auto;
    margin-top: 0;
    /* background-color: #f0d9da; */
    background-color: white;
    animation: fade 2s forwards;
    box-shadow: #52616b 4px 4px 2px;
    position: relative;
    top: 30px;
    border-radius: 8px;
    margin-left: 20px;
}

.container h2 {
    margin: 20px;
    font-size: 38px;
    padding-top: 20px;
    font-family: raleway-bold;
}

.deskripsi {
    margin: 20px;
    font-size: 14px;
    font-family: raleway-regular;
}

.sidebar {
    float: right;
    width: 400px;
}

.gambar1 {
    width: 300px;
    float: right;
    padding-right: 50px;
}

.gambar2 {
    width: 200px;
    float: right;
}

.gambar3 {
    width: 200px;
    float: right;
}


/* Container 2 */

.wrapper {
    display: flex;
    justify-items: center
}

.container-2 {
    width: 340px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    position: relative;
    top: 30px;
    border-radius: 8px;
}

.container-2 h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: bebas-neue;
    color: white;
    border-radius: 8px;
    background-color: #1b262c;
    animation: slidedown 1s forwards;
}

.container-2 .card1 {
    background-color: white;
    box-shadow: #52616b 4px 4px 2px;
    margin: auto;
    border-radius: 8px;
    padding: 0px 20px 20px 20px;
    font-size: 15px;
    animation: slidedown 1s 200ms forwards;
}

.container-2 .card1 .head {
    background-size: cover;
    background-color: #1b262c;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    color: white;
    font-family: raleway-bold;
    text-align: center;
    letter-spacing: 1px;
    overflow: hidden;
}

.container-2 .card1 .body {
    margin-left: 20px;
    font-family: poppins-regular;
    font-size: 12px;
}

.container-2 .card2 {
    background-color: white;
    box-shadow: #52616b 4px 4px 2px;
    margin: auto;
    border-radius: 8px;
    padding: 0px 20px 20px 20px;
    font-size: 15px;
    animation: slidedown 1s 200ms forwards;
}

.container-2 .card2 .head {
    margin: 10px;
    background-size: cover;
    background-color: #1b262c;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-family: raleway-bold;
    text-align: center;
    letter-spacing: 1px;
}

.container-2 .card2 .body {
    margin-left: 20px;
    font-family: poppins-regular;
    font-size: 12px;
}

.container-2 .card3 {
    background-color: white;
    box-shadow: #52616b 4px 4px 2px;
    margin: auto;
    border-radius: 8px;
    padding: 0px 20px 20px 20px;
    font-size: 15px;
    animation: slidedown 1s 200ms forwards;
}

.container-2 .card3 .head {
    margin: 10px;
    background-size: cover;
    background-color: #1b262c;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-family: raleway-bold;
    text-align: center;
    letter-spacing: 1px;
}

.container-2 .card3 .body {
    margin-left: 20px;
    font-family: poppins-regular;
    font-size: 12px;
}







.footer .footer-bar {
    width: 100%;
    height: 50px;
    background-color: #1b262c;
}

.footer .cr {
    margin: auto;
    padding: 4px;
    text-align: center;
    color: black;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: poppins-regular;
}






@media screen and (max-width : 600px) {
    .header {
        width: 100%;
        margin: auto;
        padding-bottom: 40px;
    }

    .header .menu {
        width: auto;
        justify-content: center;
    }

    .header .menu ul {
        display: flex;
    }

    .header .menu ul li {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .header .menu ul li a {
        margin: 0;
        text-align: center;
    }

    .header .tombol-login {
        display: flex;
        justify-content: center;
        float: none;
        position: relative;
        bottom: 0;
        margin: 0;
        margin-left: 10px;
    }

    .search-bar .cari {
        width: 240px;

    }

    .wrapper {
        display: block;
        width: auto;
    }

    .container {
        margin: 20px auto;
        width: min-content;
    }

    .container h2 {
        text-align: center;
    }

    .container .gambar1 {
        text-align: center;
        padding-bottom: 20px;
    }

    .container-2 {
        margin: 10px auto;
    }

}